@page "/CreateStudent"
@using BlazorCRUD.Library
@inject NavigationManager nav
@inject HttpClient http




<div class="container">
    <h3>CreateStudent</h3>

    <p class="display-6 fw-lighter">Register your details  ...</p>
    <div class="row">
        <div class="col-8">
            <EditForm Model="Student" OnValidSubmit="CreateStudentMethod" class="d-flex flex-column gap-3">
                <div class="d-flex flex-column">
                       <label>Name</label>
                       <InputText @bind-Value="Student.Name" ></InputText>
                </div>
                <div class="d-flex flex-column">
                    <label>Father Name</label>
                    <InputText @bind-Value="Student.FatherName" > </InputText>
                </div>
                <div class="d-flex flex-column">
                    <label>MobileNumber</label>
                    <InputText @bind-Value="Student.MobileNumber"> </InputText>
                </div>
                <div class="d-flex flex-column">
                    <label>Semester </label>
                    <InputText @bind-Value="Student.Semester "> </InputText>
                </div>
                <div class="d-flex flex-column">
                    <label>Email</label>
                    <InputText @bind-Value="Student.Email"> </InputText>
                </div>
                <div class="d-flex flex-column">
                    <label>Roll Number</label>
                    <InputNumber @bind-Value="Student.RollNumber" > </InputNumber>
                </div>
                <button class="btn btn-success" type="submit">
                    Save Student
                </button>
                

            </EditForm>
        </div>
    </div>
</div>

@code {
    Student Student = new();

    // private void CreateStudentMethod()
    // {
    //     http.PostAsJsonAsync("https://localhost:7148/api/Students", Student);
    //     nav.NavigateTo("");
    // }

    private async Task CreateStudentMethod()
    {
        try
        {
            var response = await http.PostAsJsonAsync("https://localhost:7148/api/Students", Student);
            if (response.IsSuccessStatusCode)
            {
                nav.NavigateTo("/stud_details");
            } else {
                Console.WriteLine("Something went wrong while saving !!");
            }
        } 
        catch(Exception ex)
        {
            Console.WriteLine($"Error : {ex.Message}");

        }
    }
}
