<h3>ShowEmpData</h3>

<div class="container">
        <div class="row">
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>name</td>
                            <td>phone</td>
                            <td>email</td>
                        </tr>
                    </thead>
                   <tbody>

                   </tbody>
                </table>
            </div>
        </div>
</div>

@code {

}
